<section id="footer-view">
  <div class="footer-container cover pt40 pb40 pl20 pr20" layout-align="center center" flex>
    <div class="container" layout="row" layout-sm="column" style="max-width:640px;">
    <div layout="column" layout-align="start center" class="footer-column pr20" flex>
      <h4 flex>Links</h4>
      <md-button class="md-primary"></md-button>
      <md-button class="md-primary"></md-button>
      <md-button class="md-primary"></md-button>
    </div>
    <div show-sm style="min-height:16px;"></div>
    <div layout="column" layout-align="start center" class="footer-column" flex>
      <h4>Organization</h4>
      <md-button class="md-primary"></md-button>
      <md-button class="md-primary"></md-button>
      <md-button class="md-primary"></md-button>
    </div>
    <div show-sm style="min-height:16px;"></div>
    <div layout="column" layout-align="start center" class="footer-column" flex>
      <h4>Connect</h4>
      <!-- <div><md-button href="https://twitter.com/atcrowdLearnApp" class="twitter-follow-md-button" data-show-count="true">Follow @atcrowdLearnApp</md-button></div> -->
    </div>
    </div>
  </div>
</section>