<md-toolbar id="header-container" class="md-background md-hue-1" ng-controller="HeaderController">
  <div class="md-toolbar-tools">
    
    <md-button class="md-icon-button" aria-label="Logo" ui-sref="{{::nav.brand.uiSref}}">
      <img ng-src="{{::nav.brand.img}}"/>
    </md-button>
    <a class="md-primary" show-gt-sm hide ui-sref="{{::nav.brand.uiSref}}" aria-label="{{::nav.title}}">
      <h2 ng-bind="nav.title"></h2>
    </a>
    <md-button class="md-primary" hide-gt-sm ui-sref="{{::nav.brand.uiSref}}" aria-label="{{::nav.shortTitle}}">
      <h2>{{::nav.shortTitle}}</h2>
    </md-button>
    <span flex></span>

    <div class="connect-fabs" layout-align="center center" layout="row">
      <md-button ui-sref="user.account" class="md-fab md-accent md-ink" aria-label="Account">
          <md-icon md-font-icon="ion-person"></md-icon>
      </md-button>
    </div>
<!--
    <div class="nav-speed-dial" layout="row">
      <md-fab-speed-dial md-open="fab.isOpen" md-direction="down" class="md-fling">
        <md-fab-trigger>
          <md-button class="md-accent" aria-label="Close">
            <i aria-label="Menu" style="color:black;" class="ion-navicon-round"></i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
           <div layout="column" ng-repeat="el in nav.buttons">
            <layout-header-button button="el" button-class="md-raised md-background" ng-click="fab.close()"></layout-header-button>
          </div>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
-->
  </div>
</md-toolbar>
